@model LiteCommerce.DomainModels.Category
<form class="form-horizontal" method="post" action="~/Categories/Delete/@Model.CategoryID">
  <div class="form-group">
    <label class="control-label col-xs-4">Tên loại mặt hàng:</label>
    <div class="col-xs-8">
      <p class="form-control-static">@Model.CategoryName</p>
    </div>
    <label class="control-label col-xs-4">Mô tả:</label>
    <div class="col-xs-8">
      <p class="form-control-static">@Model.Description</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-offset-4 col-sm-8">
      <p class="text-danger">Bạn có chắc muốn xóa mặt hàng <b>@Model.CategoryName</b>?</p>
    </div>
    <div class="col-lg-offset-4 col-sm-8">
      <button type="submit" class="btn btn-danger"><i class="fa fa-remove"></i> Đồng ý</button>
      <button type="button" class="btn btn-warning" data-dismiss="modal">Bỏ Qua</button>
    </div>
  </div>
</form>



