@model LiteCommerce.DomainModels.Category
<div>

  <form id="myForm">
    @Html.HiddenFor(m => m.CategoryID)

    @Html.TextBoxFor(model => model.CategoryName, new { @class = "form-control", @placeholder = "Name" })

    @Html.TextBoxFor(model => model.Description, new { @class = "form-control", @placeholder = "Description" })

    @Html.TextBoxFor(model => model.ParentCategoryId, new { @class = "form-control", @placeholder = "ParentCategoryId" })

    <a href="#" id="btnSubmit" class="btn btn-success btn-block">

    </a>

  </form>

  <div style="text-align:center;display:none" id="loaderDiv">
    <img src="~/Content/InternetSlowdown_Day.gif" width="150" />
  </div>

</div>


<script>

    $(document).ready(function () {

        $("#btnSubmit").click(function () {

            $("#loaderDiv").show();

            var myformdata = $("#myForm").serialize();

            $.ajax({

                type: "POST",
                url: "/Categories/Index",
                data: myformdata,
                success: function () {
                    $("#loaderDiv").hide();
                    $("#myModal").modal("hide");
                  window.location.href = "/Categories/Index";

                }

            })
        })

    })


</script>
