
@{
  ViewBag.Title = "Quản Lý khách hàng";
}
<!--form tìm kiếm -->
<div class="container-fluid">
  <form id="formSearchInput">
    <div class="input-group">
      <input name="searchValue" type="text" class="form-control" placeholder="Nhập tên Khách hàng ..." value="">
      <div class="input-group-btn">
        <button class="btn btn-primary" type="submit">
          <i class="glyphicon glyphicon-search"></i> Tìm kiếm
        </button>
      </div>
    </div>
  </form>
</div>
<!--danh sách khách hàng -->
<div id="listCustomers" class="container-fluid"></div>

<!--Ajax de hien thi danh sach khach hang len list, tim kiem, phan trang -->
@section scripts {
  <script>
    function getCustomers(page) {
      var searchCondition = $("#formSearchInput").serializeArray();
      searchCondition.push({ name: "page", value: page });
      $.ajax({
        url: "/Customers/List",
        type: "POST",
        data: searchCondition,
        success: function (data) {
          $("#listCustomers").empty();
          $("#listCustomers").html(data);
        }
      });
    }

    $(document).ready(function () {
      getCustomers(1);
      $("#formSearchInput").submit(function (e) {
        e.preventDefault();
        getCustomers(1);
      });
    });
  </script>
}


